<section class="articleFanShop">
                <article class="sectionInformacion">
                    <h1> Bayer 04 FanShop </h1>
                    <h2> Nuestros Diseños </h2>
                    <p> El elemento de diseño central de la nueva camiseta es el escudo del club clásico. Para encajar en el conjunto de colores coordinados, el escudo de armas está en blanco y negro este año. Las telas a rayas verticales están grabadas en la camiseta negra, que simboliza a los jugadores del equipo de la Bundesliga. </p>
                    <button> Más Productos </button>
                </article>
                <div class="sectionProductos"> 
                    <div>
                        <img src="{{ Pro1imagen }}">
                        <h2> {{ Pro1nombre }} </h2>
                        <h2> {{ Pro1color }} </h2>
                        <h3> {{ Pro1precio }} </h3>
                    </div>
                    <div>
                        <img src="{{ Pro2imagen }}">
                        <h2> {{ Pro2nombre }} </h2>
                        <h2> {{ Pro2color }} </h2>
                        <h3> {{ Pro2precio }} </h3>
                    </div>
                    <div>
                       <img src="{{ Pro3imagen }}">
                        <h2> {{ Pro3nombre }} </h2>
                        <h2> {{ Pro3color }} </h2>
                        <h3> {{ Pro3precio }} </h3>
                    </div>
                    <div>
                       <img src="{{ Pro4imagen }}">
                        <h2> {{ Pro4nombre }} </h2>
                        <h2> {{ Pro4color }} </h2>
                        <h3> {{ Pro4precio }} </h3>
                    </div>
                    <div>
                       <img src="{{ Pro5imagen }}">
                        <h2> {{ Pro5nombre }} </h2>
                        <h2> {{ Pro5color }} </h2>
                        <h3> {{ Pro5precio }} </h3>
                    </div>
                    <div>
                       <img src="{{ Pro6imagen }}">
                        <h2> {{ Pro6nombre }} </h2>
                        <h2> {{ Pro6color }} </h2>
                        <h3> {{ Pro6precio }} </h3>
                    </div>
                </div>
            </section>